{% extends "layout.html" %}
{% block content %}
	<h3>Search by Tag</h3>
	<div class="row">
		<div class="col-sm-6">
			<form action="/wiki/search" method="get">
				<div class="input-group search-input-group">
					<input type="text" class="form-control" name="query" placeholder="Search" >
					<span class="input-group-addon">
						<button class="btn-link" type="submit">
						<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
	<hr>
{% endblock %}